<div class="container mt-section" id="item2">
    <div class="row s-agency">
        <div class="col-12">
            <h2 class="title title_medium text-center wow bounceInDown">We will become</h2>
            <h3 class=" title title_mini text-center title_line-bottom wow bounceInUp">the last marketing agency you work with</h3>
            <p class="text-center s-agency__discription mx-auto mt-5">Because Leeds Hunter is just what you need!</p>
        </div>
    </div>
    <div class="row s-agency__dark-container position-relative mt-section">
        <div class="col-12 col-xl-4 d-flex flex-column justify-content-around order-1 order-xl-1 wow slideInLeft">
            <div class="">
                <div class="position-relative">
                    <p class="s-agency__num text-center text-xl-end">01</p>
                    <img src="img/s-agency/line-num/1.png" alt="" class="s-agency__num-line s-agency__num-line_1">
                    <div class="s-agency__left-line"></div>
                </div>
                <p class="text-center text-xl-end fw-800">Others just make promises?  Instead of that our team <span class="text-white">analyses all your marketing issues</span> you may face before spending your first dollar. No more headaches</p>
            </div>
            <div class="">
                <div class="position-relative">
                    <p class="s-agency__num text-center text-xl-end">02</p>
                    <img src="img/s-agency/line-num/2.png" alt="" class="s-agency__num-line s-agency__num-line_2">
                    <div class="s-agency__right-line"></div>
                </div>
                 
                <p class="text-center text-xl-end fw-800">Don't know what result to expect and just invest money? Our team
                    <span class="text-white">conduct preliminary website AB tests and  advertising test</span> before launching.</p>
            </div>
        </div>
        <div class="col-12 col-xl-4 order-3 order-xl-2">
            <img src="img/s-agency/big-img.png" alt="" class="s-agency__img">
        </div>
        <div class="col-12 col-xl-4 d-flex flex-column justify-content-around order-2 order-xl-3 wow slideInRight">
            <div class="">
                <div class="position-relative">
                    <p class="s-agency__num text-center text-xl-start">03</p>
                    <img src="img/s-agency/line-num/3.png" alt="" class="s-agency__num-line s-agency__num-line_3">
                    <div class="s-agency__left-line"></div>
                </div>
                  
                <p class="text-center text-xl-start fw-800">With us, you will get quick results! You<span class="text-white"> won’t have to wait for months,</span> we deliver profit immediately.</p>
            </div>
            <div class="">
                <div class="position-relative">
                    <img src="img/s-agency/line-num/4.png" alt="" class="s-agency__num-line s-agency__num-line_4">
                    <p class="s-agency__num text-center text-xl-start">04</p>
                    <div class="s-agency__right-line"></div>
                </div>
                 
                <p class="text-center text-xl-start fw-800">Work on  your project is carried out continuously every day. Our team stays in touch and constantly works on<span class="text-white"> improving the quality for a better result.</span></p>
            </div>
        </div>
        <div class="s-agency__red-container d-flex flex-column flex-xl-row justify-content-around py-4">
            <div>
                 
                <h3 class="title title_mini text-center text-xl-start">6 years of experience in Marketing business</h3>
                <p class="fw-400 text-white text-center text-xl-start mb-4 mb-xl-0">qualifies us to give the best efficient and affordable plan</p>
            </div>
            <button class="btn btn_white d-block mx-auto mx-xl-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Get a free marketing plan</button>
        </div>
    </div>
</div>