<div class="container s-cases s-cases_mt" id="item4">
    <div class="row">
        <div class="col-12">
            <h2 class="title title_medium text-center wow bounceInDown">Our cases</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mt-5">
        <div class="col mb-5 wow bounceInLeft">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/1.png" alt="" class="w-100">
            </div>
            

            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Development of a landing page for healthy food delivery.</p>
            <p class="fw-700 px-0 px-xl-3">Our specialists team made an individual analysis on this website. They started with the budget of $1,385. The goal on this project was to attract more clients. After setting up marketing strategy including layout, creative and user-friendly design by the first month conversion has been increased for 65%.</p>
        </div>
        <div class="col mb-5 wow bounceInUp">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/2.png" alt="" class="w-100">
            </div>
            


            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Development of a landing page for the plastic windows company.
                </p>
            <p class="fw-700 px-0 px-xl-3">The Specialist team has analyzed the niche of this project and made a marketing strategy for attracting clients.The budget of the whole project was $1850. After conversion optimization, creative and unique design by the first month conversion has increased by 57%.</p>
        </div>
        <div class="col mb-5 wow bounceInRight">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/3.png" alt="" class="w-100">
            </div>
            

            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Development of a landing page for the production of plastic bags and increasing customers.
                </p>
            <p class="fw-700 px-0 px-xl-3">The client requests included attracting clients and redesigning his website. After audience target analysis, marketing strategy by PPC ads and website design, we reached a result of instant leads. In total 188 applications for a budget of $1,249 and the price of the lead is $6.64. The website CRO has increased by 41%.</p>
        </div>
        <div class="col mb-5 wow bounceInLeft">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/4.png" alt="" class="w-100">
            </div>
            



            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Promotion of social networks for furniture 
                companies.
                </p>
            <p class="fw-700 px-0 px-xl-3">Our team made an individual analysis, customized the ads campaign and redesign the brand. The client started with the budget of $1,150. The goal on this project was to attract clients through social media channels and manage them under one account.  With FB ads over 1,000 live subscribers attracted to social media and got 35 new potential clients in one month.</p>
        </div>
        <div class="col mb-5 wow bounceInUp">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/5.png" alt="" class="w-100">
            </div>
            


            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Full marketing for Eye Clinic with website-development, SEO and etc
                </p>
            <p class="fw-700 px-0 px-xl-3">The Optices clinic had a request to scale up their business and attract clients. Starting from target audience analysis and unique website development, we set up PPC ads, SEO and lead generation. As a result, 150 leads were delivered with a budget of $1,629 and the lead price was $10.84. The website CRO has increased by 45%.</p>
        </div>
        <div class="col mb-5 wow bounceInRight">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/6.png" alt="" class="w-100">
            </div>
            

            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Redesign and PPC ads for the ar sales on credit  Center.
                </p>
            <p class="fw-700 px-0 px-xl-3">The main goal of this project was to attract clients through advertising. After a solid analysis, the right solution for them was to redesign the website and also attract clients through PPC ads. As a result, 50 leads were given with a budget of $850, and at the end price per click $17.</p>
        </div>
    </div>
</div>