<footer class="container position-relative">
    <img src="img/bg-footer.png" alt="" class="bg-footer">
    <div class="row footer footer_mt">
        <div class="col-12 d-flex flex-column align-items-center footer__inner">
            <h3 class="title_medium text-uppercase text-center mb-4 footer__title m-0">Any questions?</h3>
            <h4 class="title_mini footer__title-mini text-center fw-400">Contact us on social media</h4>
            <div class="d-flex align-items-center mt-4">
                <a href="" class="mx-3 footer__ico">
                    <img src="img/s-footer/telegram.png" alt="">
                </a>
                <a href="https://www.instagram.com/leads_hunter_team/?utm_medium=copy_link" class="mx-3 footer__ico">
                    <img src="img/s-footer/ins.png" alt="">
                </a>
                <a href="https://www.facebook.com/leadshunteragency" class="mx-3 footer__ico">
                    <img src="img/s-footer/f.png" alt="">
                </a>

            </div>
        </div>
    </div>
    <div class="row mb-2 mt-3">
        <div class="col-12">
            <p class="fw-400 text-center">LEADSHUNTER 2021</p>
        </div>
    </div>
</footer>