<section class="container-fluid s-logo-line">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title title_medium text-center">We cooperate</h2>
                <p class="text-center s-logo-line__text mx-auto mt-3">with various companies from small startups to international brands, and offer favorable terms to create effective marketing strategies.</p>
            </div>
        </div>
        <div class="row mt-5 s-logo-line__logo-container">
            <div class="s-logo-line__logo-box col-6 col-lg-2 d-flex justify-content-center align-items-center">
                <img src="img/s-logo-line/1.png" alt="">
            </div>
            <div class="s-logo-line__logo-box col-6 col-lg-2 d-flex justify-content-center align-items-center">
                <img src="img/s-logo-line/2.png" alt="">
            </div>
            <div class="s-logo-line__logo-box col-6 col-lg-2 d-flex justify-content-center align-items-center">
                <img src="img/s-logo-line/3.png" alt="">
            </div>
            <div class="s-logo-line__logo-box col-6 col-lg-2 d-flex justify-content-center align-items-center">
                <img src="img/s-logo-line/4.png" alt="">
            </div>
            <div class="s-logo-line__logo-box col-6 col-lg-2 d-flex justify-content-center align-items-center">
                <img src="img/s-logo-line/5.png" alt="">
            </div>
            <div class="s-logo-line__logo-box col-6 col-lg-2 d-flex justify-content-center align-items-center">
                <img src="img/s-logo-line/6.png" alt="">
            </div>
        </div>
    </div>
</section>