<div class="container" id="item3">
    <div class="row s-option">
        <div class="col-12">
            <h2 class="title title_medium text-center wow bounceInDown">Choose on your own</h2>
            <h3 class=" title title_mini text-center title_line-bottom wow bounceInUp">a way how we work with you</h3>
            <p class="text-center s-option__discription mx-auto mt-5 wow bounceInUp">Contact us, and you won’t have to worry about where to find potential clients. We will help your company become better.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row my-5 wow bounceInUp" data-wow-delay="0.1s">
            <div class="s-option__box-ico position-relative mx-auto me-lg-5">
                <img src="img/s-option/ico/1.png" alt="" class="position-absolute s-option__box-ico__ico-top">
                <img src="img/s-option/trap.png" alt="" class="position-absolute s-option__box-ico__ico-botton">
            </div>
             
            <p class="fw-700 text-center text-lg-start align-self-center"><span class="text-white">Effective solutions.</span> Our team of experts can provide all what you need in one place (setting up ads, developing a website and lead generation).</p>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row  my-5 wow bounceInUp" data-wow-delay="0.2s">
            <div class="s-option__box-ico position-relative mx-auto me-lg-5">
                <img src="img/s-option/ico/2.png" alt="" class="position-absolute s-option__box-ico__ico-top">
                <img src="img/s-option/trap.png" alt="" class="position-absolute s-option__box-ico__ico-botton">
            </div>
              
            <p class="fw-700 text-center text-lg-start align-self-center"><span class="text-white">Audience analysis.</span> You will get detailed audience analysis of potential customers , which will increase the efficiency of advertising and in promoting your company.</p>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row  my-5 wow bounceInUp" data-wow-delay="0.3s">
            <div class="s-option__box-ico position-relative mx-auto me-lg-5">
                <img src="img/s-option/ico/3.png" alt="" class="position-absolute s-option__box-ico__ico-top">
                <img src="img/s-option/trap.png" alt="" class="position-absolute s-option__box-ico__ico-botton">
            </div>
             
            <p class="fw-700 text-center text-lg-start align-self-center"><span class="text-white">Feedback.</span> Your company will receive not only high-quality work, but also daily help from professional teams of Leeds Hunter.</p>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row  my-5 wow bounceInUp" data-wow-delay="0.4s">
            <div class="s-option__box-ico position-relative mx-auto me-lg-5">
                <img src="img/s-option/ico/4.png" alt="" class="position-absolute s-option__box-ico__ico-top">
                <img src="img/s-option/trap.png" alt="" class="position-absolute s-option__box-ico__ico-botton">
            </div>
             
            <p class="fw-700 text-center text-lg-start align-self-center"><span class="text-white">High productivity.</span> We cooperate with you on affordable and accessible terms.  Our team know how to set up an advertising campaign, promote your brand and quickly bring customers to your business.</p>
        </div>
    </div>
</div>