<div class="position-relative mt-section container-fluid s-plan p-0">
    <div class="s-plan__red-box position-absolute"></div>
    <div class="s-plan__dark-box position-absolute"></div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-lg-7 s-plan__mobile-container pt-3">
                <p class="title_mini fw-400 s-plan__text-mobile text-center text-xl-start">Our marketing agency will provide</p>
                <h4 class="title title_small text-uppercase fw-700 text-center text-xl-start">AN Individual marketing plan</h4>
                <p class="fw-400 title_mini mt-4 title_line-bottom s-plan__text-mobile text-center text-xl-start">for your company, that will show the stages of our work. We will achieve your goals!</p>
                <p class="fw-400 text-white mt-5 text-center text-xl-start">You will receive a professional assessment and work from Leeds Hunter. We have a vast experience.</p>
            </div>
            <div class="col-11 col-lg-3 d-flex align-items-center justify-content-end">
                <form action="#" class="d-flex flex-column form-page s-plan__bg-mobaile mx-auto">
                    <input type="text" placeholder="Your name" class="form-page__input">
                    <input type="text" placeholder="Your number" class="form-page__input">
                    <button class="btn btn_red d-block mx-auto mt-4">Get an offer</button>
                </form>
            </div>
        </div>
    </div>
</div>