<div class="container s-reviews">
  <div class="swiper-container mb-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="s-reviews__header bg-white py-1">
          <img src="img/s-reviews/logo/carsamara.png" alt="" class="s-reviews__logo mx-auto d-block h-100">
        </div>
        <p class="fw-800 text-white title_mini">Евгений</p>
        <p class="text-white">
          Долго пробовал сам настраивать рекламные компании. Пришло время каждому заниматься своим делом. Когда отдал на ведение компании L-digital, резко сократились бюджеты и увеличились клиенты. Работаем второй год, нареканий не имею.
        </p>
      </div>
      <div class="swiper-slide">
        <div class="s-reviews__header bg-white py-1">
          <img src="img/s-reviews/logo/container.png" alt="" class="s-reviews__logo mx-auto d-block h-100">
        </div>
        <p class="fw-800 text-white title_mini">Мария</p>
        <p class="text-white fw-400">
          Спасибо ребята, все вовремя и своевременно! Несмотря на небольшие бюджеты на оплату услуг и бюджеты всегда чуткое отношение и оперативная работа. Буду советовать своим знакомым!
        </p>
      </div>
      <div class="swiper-slide">
        <div class="s-reviews__header bg-white py-1">
          <img src="img/s-reviews/logo/dom.png" alt="" class="s-reviews__logo mx-auto d-block h-100">
        </div>
        <p class="fw-800 text-white title_mini">Михаил</p>
        <p class="text-white fw-400">
          Просто крутейший таргет! Сначала работали просто за настройку, дальше перешли на оплату заявок. По 20 - 30 заявок в день на строительство домов по одному региону за 200 рублей за лид. 28 построенных домов за сезон!
        </p>
      </div>
      <div class="swiper-slide">
        <div class="s-reviews__header bg-white py-1">
          <img src="img/s-reviews/logo/vikart.png" alt="" class="s-reviews__logo mx-auto d-block h-100">
        </div>
        <p class="fw-800 text-white title_mini">Максим <br> Сергеевич</p>
        <p class="text-white fw-400">
          Работаем совместно уже более года. Хотелось бы поблагодарить компанию и лично директора Михаила за продуктивную работу и совместный рост. Наша сфера очень узкая и ниша для рекламы очень своеобразная, особенно если требуются лицензии для прохождения модерации.  Но с Вами все получается!
        </p>
      </div>
      <div class="swiper-slide">
        <div class="s-reviews__header bg-white py-1">
          <img src="img/s-reviews/logo/maffia.png" alt="" class="s-reviews__logo mx-auto d-block h-100">
        </div>
        <p class="fw-800 text-white title_mini">Андрей <br> Викторович</p>
        <p class="text-white fw-400">
          Работаем с компанией l-digital около двух лет. За это время было сделано несколько сайтов, разработана рекламная компания в контекстной рекламе. Мы выросли и теперь открылись в трех городах не без Вашего участия. Спасибо!
        </p>
      </div>
    </div>
  
  </div>
  <div class="swiper-pagination"></div>

</div>