<div class="container">
    <div class="row s-top align-items-center">
        <div class="col-12 col-lg-6 wow fadeInLeft">
            <h1 class="title title_big text-center text-lg-start">LEADS HUNTER</h1>
            <h2 class="title title_medium text-center text-lg-start">a fast growing marketing agency</h2>
            <img src="img/s-top/pic.png" alt="" srcset="" class="s-top_img-des d-block d-lg-none">
            <p class="text-big mt-3 text-center text-lg-start"><span class="s-top__text-line">Setting sales records,</span> put you ahead of your competitors</p>
             
            <button class="btn btn_red mt-5 d-block mx-auto mx-lg-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Get your a free marketing plan</button>
            <p class="s-top__text mt-4 text-center text-lg-start">Get a solution to develop your business</p>
        </div>
        <div class="col-12 col-lg-6 d-none d-lg-block">
            <img src="img/s-top/pic.png" alt="" srcset="" class="s-top_img-des wow fadeInRight">
        </div>
    </div>
</div>