<div class="container-fluid mt-section s-trap position-relative">
    <div class="s-trap__container mx-auto">
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between s-trap__sum position-relative">
            <p class="title title_mini fw-800 text-center text-lg-start s-trap__text">One marketing   <br>agency</p>
            <img src="img/s-trap/+.png" alt="" class="my-2 my-lg-0">
            <p class="title title_mini fw-800 text-center text-lg-start s-trap__text">Our experience</p>
            <img src="img/s-trap/=.png" alt="" class="my-2 my-lg-0">
            <p class="title title_mini fw-800 text-center text-lg-start s-trap__text">More money in <br> your business</p>
        </div>
        <img src="img/s-trap/mobile-img.png" alt="" class="mx-auto d-block d-lg-none w-100 s-trap__mobile-img position-relative">
         
        <p class="s-trap__text fw-700 mt-5 text-center text-lg-start">We give our partners <span class="text-white">an opportunity to scale their strategies</span> for maximum profit</span></p>
        <img src="img/s-trap/tape.png" alt="" class="d-block d-lg-none s-trap__mobile-tape">
        <img src="img/s-trap/img.png" alt="" class="s-trap__img d-none d-lg-block">
    </div>
</div>