<div class="container s-why mt-section">
    <div class="row">
        <div class="col-12">
            <h2 class="title title_medium text-center title_line-bottom wow bounceInDown">Why us?</h2>
            <p class="text-center s-why__discription mx-auto mt-5 wow bounceInUp">Why people work with us?</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 mt-5">
        <div class="col d-flex flex-column flex-xl-row align-items-start">
            <div class="s-why__ico-box align-self-center align-self-xl-start me-4">
                <img src="img/s-why/ico-red/1.png" alt="" class="s-why__red-ico">
                <div class="s-why__ico-box__white-box wow swing" data-wow-delay="0.2s">
                    <div class="s-why__ico-box__sphere"></div>
                    <img src="img/s-why/ico-white/1.png" alt="" class="s-why__ico-white">
                </div>
                
            </div>
            <p class="s-why__text-card fw-400 text-center text-xl-start mt-5 mt-xl-0 ms-0 ms-xl-4">
                You receive personalized information about your potential marketing strategies and statics.
            </p>
        </div>
        <div class="col d-flex flex-column flex-xl-row align-items-start">
            <div class="s-why__ico-box align-self-center align-self-xl-start me-4">
                <img src="img/s-why/ico-red/2.png" alt="" class="s-why__red-ico">
                <div class="s-why__ico-box__white-box wow swing" data-wow-delay="0.6s">
                    <div class="s-why__ico-box__sphere"></div>
                    <img src="img/s-why/ico-white/2.png" alt="" class="s-why__ico-white">
                </div>
                
            </div>
            <p class="s-why__text-card fw-400 text-center text-xl-start mt-5 mt-xl-0 ms-0 ms-xl-4">
                By cooperating with us, your company receives help from experts in the field of marketing development. We explore the niche of your field with an individual approach.
            </p>
        </div>
        <div class="col d-flex flex-column flex-xl-row align-items-start">
            <div class="s-why__ico-box align-self-center align-self-xl-start me-4">
                <img src="img/s-why/ico-red/3.png" alt="" class="s-why__red-ico">
                <div class="s-why__ico-box__white-box wow swing" data-wow-delay="0.8s">
                    <div class="s-why__ico-box__sphere"></div>
                    <img src="img/s-why/ico-white/3.png" alt="" class="s-why__ico-white s-why__ico-white_last-ico">
                </div>
                
            </div>
            <p class="s-why__text-card fw-400 text-center text-xl-start mt-5 mt-xl-0 ms-0 ms-xl-4">
                Our specialists are in touch with you regularly, if you have any questions or suggestions. 
            </p>
        </div>
    </div>
    <div class="row mt-5 wow bounceInUp">
        <div class="col-12 col-xl-8 s-why__dark-card mx-auto p-5">
            <h4 class="title title_mini text-center">Do you want to improve the efficiency of your business?</h4>
            <button class="btn btn_red d-block mx-auto mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">Yes, I want!</button>
        </div>
    </div>
</div>